<link rel="apple-touch-icon" sizes="180x180" href="/static/pics/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/pics/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/pics/favicon-16x16.png">
<link rel="manifest" href="/static/pics/site.webmanifest">
<link rel="mask-icon" href="/static/pics/safari-pinned-tab.svg" color="#935bd5">
<link rel="shortcut icon" href="/static/pics/favicon.ico">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="/static/pics/browserconfig.xml">
<meta name="theme-color" content="#6e39b2">